.container {
    padding: 16px;
    max-width: 600px;
    margin: 0 auto;
    background-color: #fff;
  }
  
  .header {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #2968C8;
  }
  
  .mapContainer {
    height: 150px;
    background-color: #f0f0f0; /* Placeholder para o mapa */
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .address {
    font-size: 18px;
    color: #007AFF;
  }
  
  .actionsHeader {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #00006B;
    display: flex;
    justify-content: center;
}
  
  .table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .table th,
  .table td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    color: #00006B;
  }
  
  .table th {
    background-color: #f5f5f5;
    font-weight: bold;
  }
  
  .table tr:hover {
    background-color: #f1f1f1;
  }
  