.NewMarkerModal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1001;
}

.NewMarkerModal .modal {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 90%;
  max-width: 500px;
}

.Row{
  display: flex; 
  flex-direction: row;
  gap: 10px;
}

.Row-title{
  display: flex;
  justify-content: center;
  font-size:larger
}

.Row-checkbox-flex {
  display: flex;
  flex-wrap: wrap;
  gap: 16px; 
  justify-content: center; 
  align-items: center; 
  text-align: center;
  padding-left: 10%;
}
.Row-checkbox-flex > * {
  width: calc(50% - 8px); 
}

.Label{
  font-size: 1.2rem;
  margin-bottom: 2px;
}

.form{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.textarea{
  resize: none;
  height: 60px;
  width: 100%;
  border-radius: 15px;
  border: 1px solid #2968C8;
}

.textarea-label{
  margin-bottom: 2px;
}

.button{
  width: 50%;
}
.block-input{
  pointer-events: none;
}
