@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.escritaLogo {
    font-family: 'Montserrat';
    letter-spacing: 7px;
}

.bg-black{
    background-color: black;
}