@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body{
    background-color: #000;
}

*{
    box-sizing: border-box;
    margin: 0;
}

.midIcon {
    max-width: 50px;
    height: 50px;
    display: block;
}

.littleIcon {
    width: 30px;
    height: 30px;
    display: block;
}

.w-40 {
    width: 40%;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    height: min-content;
    margin: 0;
}

.gap-1{
    gap: 1rem;
}

.banner{
    display: flex;
    min-height: 680px;
    justify-content: center;
    gap: 10%;
}

.content{
    display: flex;
    justify-content: center;
    gap: 10%;
}

.gradient{
    background: linear-gradient(180deg, #000 0%, #2F6A8D 140%);
}
.gradient-reverse{
    background: linear-gradient(180deg,#2F6A8D -40%, #000 100%);

}

.card-vertical{
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    width: 40%;
    color: #000;
}

.card-image{
    width: 100%;
    height: 50%;
    border-radius: 10px 10px 0 0;
    object-fit: cover;
}

.card-image-full{
    object-fit: cover;
    height: 100%;
    border-radius: 10px;
}

.card-text{
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 5px;
    text-align: justify ;
}

.card-horizontal{
    display: flex;
    width: 90%;
    height: fit-content;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    background-color: #fff;
    color: #000;
}

.singup-button{
    position: absolute;
    bottom: 10px;
    right: 10px;
    background-color: #2F6A8D;
    color: #fff;
    padding: 7px 15px;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 600;
}

.text-main-section{
    color: #fff;
}

.image-main-section{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    background-color: red;
}

.escritaLogo {
    font-family: 'Montserrat';
    letter-spacing: 7px;
}

.bg-black{
    background-color: black;
}

.margin-bottom-3{
    margin-bottom: 3rem;
}