@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.container {
  padding: 20px;
  background-color: #fff;
  animation: fadeIn 0.5s ease forwards; 
  transition: transform 0.3s ease, box-shadow 0.3s ease; 
}

.profile-header {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.back-button {
  font-size: 24px;
  background: none;
  border: none;
  cursor: pointer;
  color: #1a3e95;
  transition: transform 0.2s ease-in-out, background-color 0.3s ease-in;
}

.back-button:hover {
  transform: scale(1.2);
}


.header-1 {
  flex-grow: 1;
  text-align: center;
  font-size: 24px;
  color: #1a3e95;
}

.profile-links {
  text-align: left;
  margin: 20px ;
  margin-top: 20px;

}

.profile-links .text {
  font-size: 20px;
  margin-top: 20px;
}

.profile-links .link {
  display: block;
  color: #1a3e95;
  text-decoration: none;
  margin: 5px 0;
}

.header-2 {
  font-size: 18px;
  color: #000;
}

.location-card {
  display: flex;
  background-color: #1a3e95;
  border-radius: 8px;
  margin-bottom: 15px;
  overflow: hidden;
  color: #fff;
}

.map-preview {
  flex: 1;
  /* background-image: url('path-to-your-map-image.png'); */
  background-size: cover;
  background-position: center;
  height: 100px;
}

.info {
  flex: 2;
  padding: 10px;
  background-color: #1a3e95;
}

.info p {
  margin: 0;
}

.date {
  color: #ffd700;
  background-color: #1a3e95;
  border-radius: 4px;
  padding: 2px 5px;
  display: inline-block;
  margin-bottom: 10px;
}

.actions-button {
  background-color: #ffd700;
  border: none;
  color: #000;
  padding: 10px 15px;
  border-radius: 4px;
  cursor: pointer;
}

.link {
  cursor: pointer;
  display: inline-block; 
  font-size: 16px; 
  transition: font-size 0.3s ease-in-out; 
}

.link:hover {
  font-size: 18px; 
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

