.container {
    position: relative;
    z-index: 1050;
}

.offcanvas-backdrop {
    z-index: 1040;
}

.fixed-button {
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 1000;
}

.upPart {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
    gap: 20px;
}

.instituteName {
    font-size: 20px;
    color: #fff;
    font-weight: 600;
}

.menuElements {
    display: flex;
    flex-direction: column;
    height: fit-content;
    padding: 0 !important;
    gap: 20px;
}

.menuElements a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;

}

.logos {
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: #FFFD32;
    gap: 15px;
}

.logos img {
    height: 30px;
    width: 30px;
}

.links {
    color: #fff;
    list-style: none;
    cursor: pointer;
}

.links svg {
    color: #fff;
    width: 25px;
    height: 25px;
}

.linkContent {
    display: flex;
    flex-direction: row;

    svg {
        margin-right: 8px;
    }
}

.content {
    height: 100%;
    width: 100%;
    padding-left: auto;
    padding-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #2968C8;
    z-index: 99;
    font-family: "Montserrat";
    -webkit-box-shadow: 10px 0px 40px 0px rgba(0, 0, 0, 0.43);
    -moz-box-shadow: 10px 0px 40px 0px rgba(0, 0, 0, 0.43);
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.43);
}

.ong-dropdown {
    padding: 8px 16px 8px 16px;
    background: #2968C8;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 8px;
}

.ong-dropdown-menu {
    background: #2968C8;
    color: #fff;
    border: 1px solid #fff;
}


.ong-dropdown-option {
    background: #2968C8;
    color: #fff;
}