.container {
    will-change: transform;

    position: absolute;
    top: 0;
    left: 0; /* Mantém a posição lógica no fluxo */
    z-index: 1001;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    max-width: 300px;
    padding: 10px 0;
    background: #fff;
    border-right: 1px solid #2968C8;
    transform: translateX(-100%);
    transition: transform 0.5s cubic-bezier(0.25, 0.1, 0.25, 1);
}

.container.active {
    transform: translateX(0);
}

.column{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    gap: 10px;
    padding: 10px 0;
}
.row{
    display: flex;
    gap: 10px;
    align-items: center;
    padding: 10px 20px;
    width: 100%;
}
.button-navbar{
    display: flex;
    align-items: center;
    gap: 10px;
    border: none;
    background: none;
    width: 100%;
}
.button-navbar:hover{
    transition: transform 0.2s ease-in-out, background-color 0.3s ease-in;
    transform: scale(1.1);
}
.button-navbar p{
    font-size: 1rem;
    color: #2968C8;
    font-weight: 600;
    margin: 0;
}
.justify-center{
    justify-content: center;
}
.justify-end{
    justify-content: flex-end;
}
.min-width{
    max-width: min-content
}
.toggle{
    border: none;
    background: none;
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 1002;
    transition: transform 0.2s ease-in-out, background-color 0.3s ease-in;
}
.toggle:hover{
    transform: scale(1.2);
}