@import url('https://fonts.googleapis.com/css?family=Montserrat');

.chart {
    min-width: 100%;
}

.chart-box {
    min-height: 300px;
}

.page {
    font-family: "Montserrat";
}

.page-name a {
    color: #00006B;
    font-size: 24px;
}

.content {
    height: 100%;
    background-color: #EFF2F4;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    margin-top: 10px;
    width: 95%;
    height: 95%;

    display: flex;
    flex-direction: column;
    gap: 32px;
}

.top-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.align-input {
    width: 25%;
}

.notifications {
    height: 100%;
    width: 24px;
}

.default-box {
    background-color: #fff;
    padding: 25px;
    border-radius: 20px;

    display: flex;
    flex-direction: column;
    gap: 20px;

    box-shadow: 0px 0px 40px -30px rgba(0, 0, 0, 0.5);
    animation: fadeIn ease forwards;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.default-box:nth-child(1) {
    animation-duration: 1s; 
}

.default-box:nth-child(2) {
    animation-duration: 1.5s; 
}

.default-box:nth-child(3) {
    animation-duration: 2s; 
}

.default-box:hover {
    transform: translateY(-1px);
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.15);
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.table {
    width: 100%;
}

.table td {
    padding-top: 10px;
    padding-bottom: 10px;
}

.default-list-line {
    border-bottom: 1px solid var(--bs-body-color);;
}

.td-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.75);
}

.modal {
    background: white;
    padding: 20px;
    border-radius: 10px;

    max-width: 25%;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.modal-buttons {
    display: flex;
    gap: 10px;
    justify-content: flex-end;
    margin-top: 20px;
}

.flexRow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.kpi-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}

.kpi-container-2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
}

@media (min-width: 992px) { 
    .kpi-container {
        display: flex;
        flex-direction: column;
        align-items: start;
    }
    .kpi-container-2 {
        display: flex;
        flex-direction: column;
        align-items: start;
    }
}

.standardKPIDark {
    border-radius: 15px;
    background-color: var(--bs-body-color);
    color: #FFFF; 
    padding: 20px;
    background: linear-gradient(to right, #497BC6 50%, #E9F5FE 50%);
    background-size: 200% 100%;
    background-position: 0 0;
    background-clip: padding-box;
    
    transition: 
        background-position 0.3s ease-in-out, 
        color 0.3s ease-in-out, 
        transform 0.3s ease-in-out, 
        box-shadow 0.3s ease-in-out;
}

.standardKPIDark:hover {
    background-position: -100% 0;
    color: var(--bs-body-color);
    transform: scale(1.05); 
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); 
}

.iconKPI {
    color: inherit; 
    transition: color 0.3s ease-in-out;
}

.standardKPI {
    border-radius: 15px;
    background-color: #E9F5FE; 
    color: var(--bs-body-color);
    padding: 20px;
    background: linear-gradient(to left, #497BC6 50%, #E9F5FE 50%);
    background-size: 200% 100%;
    background-position: 0 0;
    background-clip: padding-box;

    transition: 
        background-position 0.3s ease-in-out, 
        color 0.3s ease-in-out, 
        transform 0.3s ease-in-out, 
        box-shadow 0.3s ease-in-out;

}

.standardKPI:hover {
    background-position: -100% 0;
    color: #FFFFFF; 
    transform: scale(1.05); 
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); 
}

.valueKpiPercent {
    font-size: 13px;
}

.iconKPI {
    width: 40px;
    height: 40px;
}

.top-filters {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    gap: 16px;
    
}

.aux-top-filters{
    display: flex;
    gap: 40px;
}

.select-top-filters{
    margin-top:8px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    width: 100%;
    gap: 50px;
  }
  
.date-form {
    border-radius: 15px;
    background-color: #E9F5FE; 
    color: var(--bs-body-color);
    padding: 15px;
}

.date-filters-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.row {
    display: flex;
    flex-direction: row !important;
    align-items: center;
    gap: 5px;
}

.export-form {
    border-radius: 15px;
    background-color: #497BC6; 
    color: #FFFF;
    padding: 15px;
}

.users-kpi {
    font-size: 26px;
    font-weight: bold;
}

.one.two-margin {
    margin: 1.2%;
}