.btn-green-bg {
    font-family: 'Montserrat';
    background: transparent;
    color: #5D8D4C;
    border-radius: 5px;
    border: solid 1px #5D8D4C;
    padding: 0.4rem;
    padding-left: 0.6rem;
    padding-right: 0.6rem;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    display: flex;
    justify-content: center;
}

.btn-green-bg:hover {
    background-color: #5D8D4C;
    color: white;
    border: solid 1px #5D8D4C;
}
