.standard-input {
    width: 100%;
    border-radius: 15px;
    border: solid 1px #2968C8;
    background: transparent;
    padding-left: 15px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}