@import url('https://fonts.googleapis.com/css?family=Montserrat');

.custom-font {
    font-family: "Montserrat" !important;
}
.page {
    display: flex;
    flex-direction: row;
    width: 100%;
    font-family: "Montserrat" !important;
}

.page-name a {
    color: #00006B;
    font-size: 24px;
}

.content {
    height: 100vh;
    background-color: #EFF2F4;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 95%;
    height: 95%;

    display: flex;
    flex-direction: column;
    gap: 60px;
}

.top-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.align-input {
    width: 25%;
}

.notifications {
    height: 100%;
    width: 24px;
}

.default-box {
    background-color: #fff;
    height: fit-content;

    padding-top: 35px;
    padding-bottom: 35px;
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 20px;

    display: flex;
    flex-direction: column;
    gap: 40px;

    -webkit-box-shadow: 0px 0px 90px -20px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 0px 90px -20px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 40px -30px rgba(0, 0, 0, 0.5)
}

.table {
    width: 100%;
}
.table td {
    padding-top: 10px;
    padding-bottom: 10px;
}
.default-list-line {
    border-bottom: 1px solid #2968C8;
}

.td-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.75);
}

.modal {
    background: white;
    padding: 20px;
    border-radius: 10px;
    
    max-width: 25%;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.modal-buttons {
    display: flex;
    gap: 10px;
    justify-content: flex-end;
    margin-top: 20px;
}

.align-modal {
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-email {
    padding-top: 10px;
    padding-bottom: 10px;
    gap: 5px;
    display: flex;
    flex-direction: column;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}

.form-presentation {
    font-size: 24px;
    display: flex;
    align-items: center;
    gap: 5px;
}

.container-inputs-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.steps-action {
    text-align: right;
    margin-top: 16px;
}

.label-spacing {
    margin-bottom: .5rem;
    font-size: 16px;
}
