@import url('https://fonts.googleapis.com/css?family=Montserrat');

.custom-font {
    font-family: "Montserrat" !important;
}
.page {
    display: flex;
    flex-direction: row;
    width: 100%;
    font-family: "Montserrat" !important;
}

.page-name {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.page-name h1 {
    color: #00006B;
    font-size: 24px;
}

.content {  
    background-color: #EFF2F4;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    margin-top: 10px;
    width: 95%;
    height: 95%;

    display: flex;
    flex-direction: column;
    gap: 20px;
}

.top-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.align-input {
    width: 25%;
}

.notifications {
    height: 100%;
    width: 24px;
}

.default-box {
    background-color: #fff;
    padding: 25px;
    border-radius: 20px;

    display: flex;
    flex-direction: column;
    gap: 20px;

    box-shadow: 0px 0px 40px -30px rgba(0, 0, 0, 0.5);
    animation: fadeIn ease forwards;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.default-box:nth-child(1) {
    animation-duration: 1s; 
}

.default-box:nth-child(2) {
    animation-duration: 1.5s; 
}

.default-box:nth-child(3) {
    animation-duration: 2s; 
}

.default-box:hover {
    transform: translateY(-1px);
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.15);
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.table {
    width: 100%;
}
.table td {
    padding-top: 10px;
    padding-bottom: 10px;
}
.default-list-line {
    border-bottom: 1px solid #2968C8;
}

.td-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.75);
}

.modal {
    background: white;
    padding: 20px;
    border-radius: 10px;
    
    max-width: 25%;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.modal-buttons {
    display: flex;
    gap: 10px;
    justify-content: flex-end;
    margin-top: 20px;
}

.align-modal {
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-email {
    padding-top: 10px;
    padding-bottom: 10px;
    gap: 5px;
    display: flex;
    flex-direction: column;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}

.form-presentation {
    font-size: 24px;
    display: flex;
    align-items: center;
    gap: 5px;
}

.container-inputs-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.steps-action {
    text-align: right;
    margin-top: 16px;
}

.label-spacing {
    margin-bottom: .5rem;
    font-size: 16px;
}

.modal-buttons-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;
}

.modal-button {
    width: 100%;
}

.filter-box {
    display: flex;
    align-items: baseline;
    gap: 16px;
}